.total {
    width: 100%;
    font-size: 1.5vw;
    color: #00fff3;
    display: inline-block;
    border-radius: 8px;
    text-shadow: 0 0 2px #fff;
    font-weight: bold;
    background: #191919;
    text-align: center;
    box-shadow: 1px 1px rgba(255, 255, 255, 0.05), 1px 1px 5px #111 inset;
    overflow: hidden;
}
